.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
.numBtnContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 60%;
    margin: 2% 0 0 5%;
}
  .numberButton{
      border: 1px solid black;
      background-color: slategrey;
      color: white;
      border-radius: 50%;
      font-size: 1.6rem;
      text-align: center;
      padding: 1px 1px 1px 1px;
      width: 30%;
      margin: 1px 1px 1px 1px;
  }
.opBtnContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 30%;
    margin: 2% 0 0 5%;
}
  .operatorButtons{
      border: 1px solid black;
      background-color: darkslategray;
      color: white;
      border-radius: 50%;
      font-size: 1.6rem;
      text-align: center;
      padding: 1px 1px 1px 1px;
      width: 50%;
      margin: 1px 1px 1px 1px;
  }
  .numOpContainer{
      display:flex;
      border: 1px solid black;
  }